body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

main{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;    
    margin: 15px;
}

hr{
    color:black;
}

#dl1{
    background-color:darkkhaki;
    margin-left: auto;
    margin-right: auto;
    border:2px solid;
    padding:10px;
    height:45px;
    width:650px;
    position:relative;
}

#gayButton{
    font-size:25px;
    background-color: lightpink;
    color:darkslateblue;
    border-radius: 20px;
    cursor: pointer;
}

.gay{
    background-color: cadetblue;
    cursor: pointer;
}

#image{
    display:block;
    margin: -530px 230px;    
    height: 550px;
    width: 1650px;
}
.dropdown{
    display: inline-block;
}

.dropdown button{
    height: 50px;
    width: 160px;
    font-size: 30px;
    color: white;
    background-color: dimgrey;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.dropdown a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 8px;
    float: left;
}

.dropdown button:hover{
    color: grey;
}

.dropdown .dropped{
    position: absolute;
    background-color: dimgrey;
    visibility: hidden;
}

.dropdown:hover .dropped{
    visibility: visible;
}

.dropdown a:hover{
    background-color: grey;
}

.navbar {
    background-color:coral;
    overflow: hidden;
}

.navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: bisque;
  color: black;
}

.navbar .maintitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
}

.right {
  float: right;
}